*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --body-bg-clr : black;
    --btn-bg-clr : rgba(51,51,51,255);
    --btn-clr : white;
    --output-clr : white;
    --backspace1-clr : white;
    --backspace2-clr : grey;
}
body{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     background-color: var(--body-bg-clr)
}

.main-container{
    width: 20rem;
    height: 31rem;
    background : var(--body-bg-clr);
}

/*                                          O U T P U T        S E C T I O N  */
.main-container .output-section{
    height: 7rem;
    padding: 0 1rem ;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    color: white;
}

.output-string{
    display: flex;
    align-items: center;
}

.question{
    color: grey;
    margin-right: 1rem;
}

.backspace , .backspace2{
    border-radius: 0;
    width: 2rem;
    height: 2rem;
    margin-right: 0;
    background: transparent;
    font-size: 1.3rem;
    display : none;
    color: var(--backspace1-clr);
    /* opacity: .5; */
}

.backspace2{
    font-size: .8rem;
    color: var(--backspace2-clr);
}

input{
    width: 13rem;
    height: 3rem;
    background: transparent;
    border: none;
    color: var(--output-clr);
    text-align: right;
    outline: none;
    font-size: 2rem;
}

/*                                         I N  P U T        S E C T I O N  */

.main-container .input-section{
    height: 28rem;
   overflow: hidden;
   padding: 0 .6rem;
}

button{
    width: 4rem;
    height: 4rem;
    margin: .35rem .25rem;
    font-size: 1.5rem;
    border-radius: 100%;
    border: none;
    background-color: var(--btn-bg-clr);
    color: var(--btn-clr);
    transition: 100ms;
}

button:active{
    background-color: rgb(106, 105, 105);
}

.zero-btn{
    width: 8.75rem;
    border-radius: 8rem;
}

.orange{
    background-color: rgba(255,159,10,255);
    color: white;
    font-size: 1.7rem;
}
.orange:active{
    background-color: white;
    color: rgba(255,159,10,255);
}

.grey{
    background-color: rgba(165,165,165,255);
    color: black;
}
.grey:active{
    background-color: rgb(196, 196, 196);
}



/*                        T H E M E   C H A N G E */

.color-picker{
    position: absolute;
    top: 0;
}

.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.color-picker > fieldset{
    border: 0;
    display: flex;
    gap: 2rem;
    background-color: rgb(106, 106, 106);
    width: fit-content;
    padding: 1rem 3rem;
    border-radius: 0 0 1rem 1rem;
    margin-inline: auto;
}

.color-picker input[type="radio"]{
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    outline: 3px solid var(--radio-color , currentColor);
    outline-offset: 3px;
    border-radius: 50%;
}

.color-picker input[type="radio"]#light{
    --radio-color:rgba(232, 228, 228, 0.837);
}
.color-picker input[type="radio"]#light:checked{
    background-color: var(--radio-color);
}


.color-picker input[type="radio"]#dark{
    --radio-color:black;
}
.color-picker input[type="radio"]#dark:checked {
    background-color: var(--radio-color);
    border: grey;
}

:root:has(#dark:checked){
    --body-bg-clr : black;
    --btn-bg-clr : rgba(51,51,51,255);
    --btn-clr : white;
    --output-clr : white;
    --backspace1-clr : white;
    --backspace2-clr : grey;
}
:root:has(#light:checked){
    --body-bg-clr : white;
    --btn-bg-clr : black;
    --btn-clr : white;
    --output-clr : black;
    --backspace1-clr : black;
    --backspace2-clr : grey;
}


@media screen and (max-width:900px) {
    .color-picker input[type="radio"]{
        border-radius: 100%;
    }
}
